.side{
    float:right;
    text-align: right;
}

.entree{
    float: left;
}

img{
    max-width: 100px;
    height: auto;
}

section{
    background-color:gray;
}

.but{
    position:absolute;
    left:0;
    bottom:0;
}

#submit{
    background: lightcoral;
    color: white;  
    border-style: outset;   
    border-color:black;   
    height: 50px;   
    width: 100px;   
    font: sans-serif;   
    text-shadow:none;   
}